{% extends "base.html" %}

{% block title %}Beranda{% endblock %}

{% block content %}
<div class="card">
    <h2>Selamat Datang</h2>
    <p>
        Sistem ini membantu masyarakat memperoleh informasi layanan
        Puskesmas secara cepat dan mudah.
    </p>
</div>

<div class="card">
    <h2>Layanan Tersedia</h2>
    <ul>
        <li>Informasi Poli dan Jadwal Dokter</li>
        <li>Jam Operasional Puskesmas</li>
        <li>Asisten Virtual Informasi Layanan</li>
    </ul>
</div>

<div class="highlight">
    💬 <b>Butuh bantuan?</b><br>
    Gunakan asisten virtual untuk menanyakan informasi layanan tanpa harus login.
</div>
{% endblock %}
